---
import AnalyticsOptOut from "../components/AnalyticsOptOut";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  description="You can opt out from analytics using the form on this page."
>
  <main class="max-w-screen-xl mx-auto px-4 py-6 md:py-24 gap-2 flex flex-col">
    <h1 class="text-3xl md:text-5xl pb-1 md:pb-2 mb-2 font-bold">
      Opt-out from analytics
    </h1>
    <AnalyticsOptOut client:load />
  </main>
</MainLayout>
