---
import "../styles/apexcharts-fix.css";
---

<section class="mx-auto px-3 py-16 max-w-screen-xl">
  <h2 class="text-center font-bold text-4xl md:text-5xl hyphens-auto">
    Ferron is also a fast reverse proxy
  </h2>
  <p class="text-center text-lg md:text-xl text-muted-foreground my-5">
    As you can see on the benchmark results below, Ferron is 16% faster in
    reverse proxying than Traefik, 26% faster than Apache httpd (with event
    MPM), and 51% faster than Caddy. This makes Ferron a good choice for a fast
    reverse proxy, without being stuck configuring it.
  </p>
  <div data-benchmarks-proxy-chart class="max-w-4xl mx-auto w-full my-5"></div>
  <p class="text-sm md:text-base text-muted-foreground">
    The reverse proxy performance is measured by running a "ferrbench -c 100 -d
    60s -t 6 -h https://localhost" command on a server with a AMD Ryzen 5 8600G
    CPU. The web servers pass requests to a "Hello World" application built with
    Express, Node.js, and run with PM2. All web servers also have logging the
    requests into a log file enabled. NGINX is excluded due to possible
    misconfiguration.
  </p>
</section>

<script>
  async function loadBenchmarkChart() {
    let ApexCharts = (await import("apexcharts")).default;

    const options = {
      series: [
        {
          name: "Requests per second",
          data: [39936.67, 34558.68, 31585.11, 26482.54]
        }
      ],
      chart: {
        type: "bar",
        fontFamily: "Inter, sans-serif",
        background: "#2E3440"
      },
      plotOptions: {
        bar: {
          borderRadius: 4,
          borderRadiusApplication: "end",
          horizontal: true
        }
      },
      theme: {
        mode: "dark",
        monochrome: {
          enabled: true,
          color: "#ff4400"
        }
      },
      dataLabels: {
        enabled: false
      },
      xaxis: {
        categories: [
          "Ferron 1.0.0-beta5",
          "Traefik 3.3.4",
          "Apache httpd 2.4.63 (mpm_event)",
          "Caddy 2.9.1"
        ],
        labels: {
          style: {
            fontSize: "1em"
          }
        },
        title: {
          text: "Requests per second",
          offsetY: 30,
          style: {
            fontSize: "1em"
          }
        }
      },
      yaxis: {
        labels: {
          maxWidth: 320,
          style: {
            fontSize: "1em"
          }
        }
      },
      responsive: [
        {
          breakpoint: 768,
          options: {
            plotOptions: {
              bar: {
                horizontal: false
              }
            },
            xaxis: {
              labels: {
                style: {
                  fontSize: "0.625em"
                }
              },
              title: {
                text: null,
                style: {
                  fontSize: "0.625em"
                }
              }
            },
            yaxis: {
              labels: {
                style: {
                  fontSize: "0.75em"
                }
              },
              title: {
                text: "Requests per second",
                style: {
                  fontSize: "0.5em"
                }
              }
            }
          }
        }
      ]
    };

    const chart = new ApexCharts(
      document.querySelector("[data-benchmarks-proxy-chart]"),
      options
    );
    chart.render();
  }

  document.addEventListener("astro:after-swap", () => {
    loadBenchmarkChart();
  });

  loadBenchmarkChart();
</script>
