---
import Testimonial from "./Testimonial.astro";
---

<section class="mx-auto px-3 py-16 md:py-24 max-w-screen-xl">
  <h2 class="text-center font-bold text-4xl md:text-5xl hyphens-auto mb-2">
    Don't just take our word for it!
  </h2>
  <p class="text-center text-lg md:text-xl text-muted-foreground my-5">
    See what others think of Ferron web server.
  </p>
  <div class="md:columns-2 lg:columns-4 gap-0">
    <Testimonial
      source="hackernews"
      sourceLink="https://news.ycombinator.com/item?id=43228545"
      name="Yo'av Moshe"
      description="Co-founder of Zaraz, acquired by Cloudflare"
      testimonial="I suspect that people don't like changing web servers, and perhaps that's why it took the industry so long to move away from Apache. Ferron actually looks great — great performance, automatic TLS, easy reverse proxy configuration and more. Congrats on shipping this!"
    />
    <Testimonial
      source="hackernews"
      sourceLink="https://news.ycombinator.com/item?id=43236478"
      name="Matthew Holt"
      description="Author of the Caddy web server"
      testimonial="Awesome :) Best of luck with the project!"
    />
    <Testimonial
      source="x"
      sourceLink="https://x.com/LukasHozda/status/1904134313056080113"
      name="Lukáš Hozda"
      testimonial="Replacing Sōzu with @ferron_web because the madlad actually went out of his way to do a benchmark when I asked"
    />
    <Testimonial
      source="threads"
      sourceLink="https://www.threads.net/@buddy_spencer/post/DH-lv3mNQ2j"
      name="Andreas Wachter"
      testimonial="I just switched to @ferronweb on my pi to serve services at home. Imho ferron is just way easier to configure than anything else."
    />
  </div>
</section>
