---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Root from "./Root.astro";
import Banner from "../components/Banner.astro";
---

<Root {...Astro.props}>
  <Banner>
    <p>
      We have just released Ferron 1.0.0! <a
        href="/blog/ferron-1-0-0-a-new-era-for-web-servers"
        >Read the blog post</a
      >
    </p>
  </Banner>
  <Header />
  <div class="grow">
    <slot />
  </div>
  <Footer />
</Root>
